body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}


/* Section styles */
.section-text {
  padding: 2rem!important;
}

.section-img {
  padding: 1.5rem!important;
}

@media (min-width: #{$tablet-width}) {
  .section-text {
    padding: 3rem!important;
    h2 {
      font-size: 3em;
      line-height: 1.2;
    }
  }
  .section-img {
    padding: 3rem!important;
  }
}

/* Schedule styles */

.schedule-line {
  line-height: 40px;
  .schedule-hour {
    padding-right: 0px;
    text-align: right!important;
    color: $gray-600;
    font-size: 1.2em;
    font-weight: 600;
  }
  p {
    margin-bottom: 0.25rem;
  }
}