body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h2 {
  color: darken($primary, 20%);
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.block {
  padding: 20px;
  margin-bottom: 30px;
}

/* Section styles */
.section-text {
  padding: 2rem!important;
}

.section-img {
  padding: 1.5rem!important;
}

@media (min-width: #{$tablet-width}) {
  .section-text {
    padding: 3rem!important;
    h2 {
      font-size: 3em;
      line-height: 1.2;
    }
  }
  .section-img {
    padding: 3rem!important;
  }
  .section-heading {
    padding-bottom: 10px;
  }
}

/* Schedule styles */

.schedule-line {
  line-height: 40px;
  .schedule-hour {
    padding-right: 0px;
    text-align: right!important;
    color: $gray-600;
    font-size: 1.2em;
    font-weight: 600;
  }
  p {
    margin-bottom: 0.25rem;
  }
}

/* Team styles */

.team-member-photo {
  background-color: black;
  position: relative;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.team-member-desc{
  h4 {
    margin-bottom: 0px;
  }
  margin-bottom: 2rem;
}

/* Projects section */

.project {
  background-color: white;/*lighten($secondary, 45%);*/
  height: 15rem;
  position: relative;
  align-items: center;
  display: flex;
  .project-icon {
    color: rgba($secondary, .2);
    float: left;
    position: absolute;
    top:0;
    left:0;
  }
  .project-content {
    display: float;
    margin: 3rem;
    z-index: 100;
    h3 {
      color: $secondary;
    }
  }
}
