.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: fade-out($black, 0.3);

  .navbar-brand {
    max-width: 40%;
  }

  .navbar-logo-img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 40px;
  }

  @media (max-width: #{$tablet-width}) {
    .navbar-collapse {
      margin-top: 28px;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        @media (min-width: #{$tablet-width}) {
          font-size: 0.8em;
          li a {
           line-height: 40px;
          }
        }
      }
    }
  }
}
